{% extends "patients/base.html" %}
{% load crispy_forms_tags %}
<title>CSSRT - Registrierung</title>

{% block content %}
<h1>Corona Test Registrierung</h1>
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Formular</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Absenden</button>
        </div>
    </form>
</div>
{% endblock content %}