{% extends "patients/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous" type="text/javascript"></script>
<title>CSSRT - Registrierung</title>
<h1>Corona Test Registrierung</h1>

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Formular</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit" id="id_submit">Absenden</button>
        </div>
    </form>
</div>

<script type='text/javascript'>
    $('label[for=id_license_plate], input#id_license_plate').hide();
    $('#id_license_plate').hide();
    $(function(){
      $('#id_car').click(function(){
         if($('#id_car').is(':checked')){
             $('label[for=id_license_plate], input#id_license_plate').show();
             $('#id_license_plate').show();
         }else{
             $('label[for=id_license_plate], input#id_license_plate').hide();
             $('#id_license_plate').hide();
         }
      });
    });


    $('#id_firstname_2').hide();
    $('label[for=id_firstname_2], input#id_firstname_2').hide();
    $('#id_lastname_2').hide();
    $('label[for=id_lastname_2], input#id_lastname_2').hide();
    $('#id_birth_date_2').hide();
    $('label[for=id_birth_date_2], input#id_birth_date_2').hide();
    $('#id_zip_2').hide();
    $('label[for=id_zip_2], input#id_zip_2').hide();
    $('#id_city_2').hide();
    $('label[for=id_city_2], input#id_city_2').hide();
    $('#id_phone_2').hide();
    $('label[for=id_phone_2], input#id_phone_2').hide();
    $('#id_doctor_2').hide();
    $('label[for=id_doctor_2], input#id_doctor_2').hide();
    $('#id_insurance_2').hide();
    $('label[for=id_insurance_2], input#id_insurance_2').hide();
    $('#id_positive_contact_2').hide();
    $('label[for=id_positive_contact_2], input#id_positive_contact_2').hide()

    $('#id_firstname_3').hide();
    $('label[for=id_firstname_3], input#id_firstname_3').hide();
    $('#id_lastname_3').hide();
    $('label[for=id_lastname_3], input#id_lastname_3').hide();
    $('#id_birth_date_3').hide();
    $('label[for=id_birth_date_3], input#id_birth_date_3').hide();
    $('#id_zip_3').hide();
    $('label[for=id_zip_3], input#id_zip_3').hide();
    $('#id_city_3').hide();
    $('label[for=id_city_3], input#id_city_3').hide();
    $('#id_phone_3').hide();
    $('label[for=id_phone_3], input#id_phone_3').hide();
    $('#id_doctor_3').hide();
    $('label[for=id_doctor_3], input#id_doctor_3').hide();
    $('#id_insurance_3').hide();
    $('label[for=id_insurance_3], input#id_insurance_3').hide();
    $('#id_positive_contact_3').hide();
    $('label[for=id_positive_contact_3], input#id_positive_contact_3').hide()

    $('#id_firstname_4').hide();
    $('label[for=id_firstname_4], input#id_firstname_4').hide();
    $('#id_lastname_4').hide();
    $('label[for=id_lastname_4], input#id_lastname_4').hide();
    $('#id_birth_date_4').hide();
    $('label[for=id_birth_date_4], input#id_birth_date_4').hide();
    $('#id_zip_4').hide();
    $('label[for=id_zip_4], input#id_zip_4').hide();
    $('#id_city_4').hide();
    $('label[for=id_city_4], input#id_city_4').hide();
    $('#id_phone_4').hide();
    $('label[for=id_phone_4], input#id_phone_4').hide();
    $('#id_doctor_4').hide();
    $('label[for=id_doctor_4], input#id_doctor_4').hide();
    $('#id_insurance_4').hide();
    $('label[for=id_insurance_4], input#id_insurance_4').hide();
    $('#id_positive_contact_4').hide();
    $('label[for=id_positive_contact_4], input#id_positive_contact_4').hide()

    $('#id_firstname_5').hide();
    $('label[for=id_firstname_5], input#id_firstname_5').hide();
    $('#id_lastname_5').hide();
    $('label[for=id_lastname_5], input#id_lastname_5').hide();
    $('#id_birth_date_5').hide();
    $('label[for=id_birth_date_5], input#id_birth_date_5').hide();
    $('#id_zip_5').hide();
    $('label[for=id_zip_5], input#id_zip_5').hide();
    $('#id_city_5').hide();
    $('label[for=id_city_5], input#id_city_5').hide();
    $('#id_phone_5').hide();
    $('label[for=id_phone_5], input#id_phone_5').hide();
    $('#id_doctor_5').hide();
    $('label[for=id_doctor_5], input#id_doctor_5').hide();
    $('#id_insurance_5').hide();
    $('label[for=id_insurance_5], input#id_insurance_5').hide();
    $('#id_positive_contact_5').hide();
    $('label[for=id_positive_contact_5], input#id_positive_contact_5').hide()

    $(function () {
        $('#id_num_people').change(function () {
            if($('#id_num_people').val() > 1 ){
                $('#id_firstname_2').show();
                $('label[for=id_firstname_2], input#id_firstname_2').show();
                $('#id_lastname_2').show();
                $('label[for=id_lastname_2], input#id_lastname_2').show();
                $('#id_birth_date_2').show();
                $('label[for=id_birth_date_2], input#id_birth_date_2').show();
                $('#id_zip_2').show();
                $('label[for=id_zip_2], input#id_zip_2').show();
                $('#id_city_2').show();
                $('label[for=id_city_2], input#id_city_2').show();
                $('#id_phone_2').show();
                $('label[for=id_phone_2], input#id_phone_2').show();
                $('#id_doctor_2').show();
                $('label[for=id_doctor_2], input#id_doctor_2').show();
                $('#id_insurance_2').show();
                $('label[for=id_insurance_2], input#id_insurance_2').show();
                $('#id_positive_contact_2').show();
                $('label[for=id_positive_contact_2], input#id_positive_contact_2').show()
            }else{
                $('#id_firstname_2').hide();
                $('label[for=id_firstname_2], input#id_firstname_2').hide();
                $('#id_lastname_2').hide();
                $('label[for=id_lastname_2], input#id_lastname_2').hide();
                $('#id_birth_date_2').hide();
                $('label[for=id_birth_date_2], input#id_birth_date_2').hide();
                $('#id_zip_2').hide();
                $('label[for=id_zip_2], input#id_zip_2').hide();
                $('#id_city_2').hide();
                $('label[for=id_city_2], input#id_city_2').hide();
                $('#id_phone_2').hide();
                $('label[for=id_phone_2], input#id_phone_2').hide();
                $('#id_doctor_2').hide();
                $('label[for=id_doctor_2], input#id_doctor_2').hide();
                $('#id_insurance_2').hide();
                $('label[for=id_insurance_2], input#id_insurance_2').hide();
                $('#id_positive_contact_2').hide();
                $('label[for=id_positive_contact_2], input#id_positive_contact_2').hide()
            }
            if($('#id_num_people').val() > 2 ){
                $('#id_firstname_3').show();
                $('label[for=id_firstname_3], input#id_firstname_3').show();
                $('#id_lastname_3').show();
                $('label[for=id_lastname_3], input#id_lastname_3').show();
                $('#id_birth_date_3').show();
                $('label[for=id_birth_date_3], input#id_birth_date_3').show();
                $('#id_zip_3').show();
                $('label[for=id_zip_3], input#id_zip_3').show();
                $('#id_city_3').show();
                $('label[for=id_city_3], input#id_city_3').show();
                $('#id_phone_3').show();
                $('label[for=id_phone_3], input#id_phone_3').show();
                $('#id_doctor_3').show();
                $('label[for=id_doctor_3], input#id_doctor_3').show();
                $('#id_insurance_3').show();
                $('label[for=id_insurance_3], input#id_insurance_3').show();
                $('#id_positive_contact_3').show();
                $('label[for=id_positive_contact_3], input#id_positive_contact_3').show()
            }else{
                $('#id_firstname_3').hide();
                $('label[for=id_firstname_3], input#id_firstname_3').hide();
                $('#id_lastname_3').hide();
                $('label[for=id_lastname_3], input#id_lastname_3').hide();
                $('#id_birth_date_3').hide();
                $('label[for=id_birth_date_3], input#id_birth_date_3').hide();
                $('#id_zip_3').hide();
                $('label[for=id_zip_3], input#id_zip_3').hide();
                $('#id_city_3').hide();
                $('label[for=id_city_3], input#id_city_3').hide();
                $('#id_phone_3').hide();
                $('label[for=id_phone_3], input#id_phone_3').hide();
                $('#id_doctor_3').hide();
                $('label[for=id_doctor_3], input#id_doctor_3').hide();
                $('#id_insurance_3').hide();
                $('label[for=id_insurance_3], input#id_insurance_3').hide();
                $('#id_positive_contact_3').hide();
                $('label[for=id_positive_contact_3], input#id_positive_contact_3').hide()
            }
            if($('#id_num_people').val() > 3 ){
                $('#id_firstname_4').show();
                $('label[for=id_firstname_4], input#id_firstname_4').show();
                $('#id_lastname_4').show();
                $('label[for=id_lastname_4], input#id_lastname_4').show();
                $('#id_birth_date_4').show();
                $('label[for=id_birth_date_4], input#id_birth_date_4').show();
                $('#id_zip_4').show();
                $('label[for=id_zip_4], input#id_zip_4').show();
                $('#id_city_4').show();
                $('label[for=id_city_4], input#id_city_4').show();
                $('#id_phone_4').show();
                $('label[for=id_phone_4], input#id_phone_4').show();
                $('#id_doctor_4').show();
                $('label[for=id_doctor_4], input#id_doctor_4').show();
                $('#id_insurance_4').show();
                $('label[for=id_insurance_4], input#id_insurance_4').show();
                $('#id_positive_contact_4').show();
                $('label[for=id_positive_contact_4], input#id_positive_contact_4').show()
            }else{
                $('#id_firstname_4').hide();
                $('label[for=id_firstname_4], input#id_firstname_4').hide();
                $('#id_lastname_4').hide();
                $('label[for=id_lastname_4], input#id_lastname_4').hide();
                $('#id_birth_date_4').hide();
                $('label[for=id_birth_date_4], input#id_birth_date_4').hide();
                $('#id_zip_4').hide();
                $('label[for=id_zip_4], input#id_zip_4').hide();
                $('#id_city_4').hide();
                $('label[for=id_city_4], input#id_city_4').hide();
                $('#id_phone_4').hide();
                $('label[for=id_phone_4], input#id_phone_4').hide();
                $('#id_doctor_4').hide();
                $('label[for=id_doctor_4], input#id_doctor_4').hide();
                $('#id_insurance_4').hide();
                $('label[for=id_insurance_4], input#id_insurance_4').hide();
                $('#id_positive_contact_4').hide();
                $('label[for=id_positive_contact_4], input#id_positive_contact_4').hide()
            }
            if($('#id_num_people').val() > 4 ){
                $('#id_firstname_5').show();
                $('label[for=id_firstname_5], input#id_firstname_5').show();
                $('#id_lastname_5').show();
                $('label[for=id_lastname_5], input#id_lastname_5').show();
                $('#id_birth_date_5').show();
                $('label[for=id_birth_date_5], input#id_birth_date_5').show();
                $('#id_zip_5').show();
                $('label[for=id_zip_5], input#id_zip_5').show();
                $('#id_city_5').show();
                $('label[for=id_city_5], input#id_city_5').show();
                $('#id_phone_5').show();
                $('label[for=id_phone_5], input#id_phone_5').show();
                $('#id_doctor_5').show();
                $('label[for=id_doctor_5], input#id_doctor_5').show();
                $('#id_insurance_5').show();
                $('label[for=id_insurance_5], input#id_insurance_5').show();
                $('#id_positive_contact_5').show();
                $('label[for=id_positive_contact_5], input#id_positive_contact_5').show()
            }else{
                $('#id_firstname_5').hide();
                $('label[for=id_firstname_5], input#id_firstname_5').hide();
                $('#id_lastname_5').hide();
                $('label[for=id_lastname_5], input#id_lastname_5').hide();
                $('#id_birth_date_5').hide();
                $('label[for=id_birth_date_5], input#id_birth_date_5').hide();
                $('#id_zip_5').hide();
                $('label[for=id_zip_5], input#id_zip_5').hide();
                $('#id_city_5').hide();
                $('label[for=id_city_5], input#id_city_5').hide();
                $('#id_phone_5').hide();
                $('label[for=id_phone_5], input#id_phone_5').hide();
                $('#id_doctor_5').hide();
                $('label[for=id_doctor_5], input#id_doctor_5').hide();
                $('#id_insurance_5').hide();
                $('label[for=id_insurance_5], input#id_insurance_5').hide();
                $('#id_positive_contact_5').hide();
                $('label[for=id_positive_contact_5], input#id_positive_contact_5').hide()
            }
        });
    });

</script>

{% endblock content %}
