<script type="text/javascript" language="javascript">
 function toggleLicensePlateVisibility(cb)
 {
  var x = document.getElementById("div_id_license_plate");
  if(cb.checked==false){
   x.style.visibility = "hidden";
   document.getElementById("id_license_plate").value = ""
  }else{
   x.style.visibility = "visible";
  }
 }
</script>

{% extends "patients/base.html" %}
{% load crispy_forms_tags %}
<title>CSSRT - Registrierung</title>

{% block content %}
<h1>Corona Test Registrierung</h1>
<div class="content-section">
    <form method="POST">

        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Formular</legend>
            <div id="div_id_email" class="form-group">
                <label for="id_email" class=" requiredField">Email<span class="asteriskField">*</span> </label>
                <div class="">
                    <input type="email" name="email" class="emailinput form-control" required id="id_email">
                </div>
            </div>

            <div id="div_id_num_people" class="form-group">
                <label for="id_num_people" class=" requiredField">Anzahl zu testender Personen<span class="asteriskField">*</span></label>
                <div class="">
                    <input type="number" name="num_people" value="1" min="1" max="5" class="numberinput form-control" required id="id_num_people">
                </div>
            </div>

            <div class="form-group">
                <div id="div_id_car" class="form-check">
                    <input type="checkbox" name="car" class="checkboxinput form-check-input" id="id_car" onClick="toggleLicensePlateVisibility(this)">
                    <label for="id_car" class="form-check-label">Anreise per Auto</label>
                 </div>
            </div>

            <div id="div_id_license_plate" class="form-group" style="visibility:hidden">
                <label for="id_license_plate" class="">KfZ-Kennzeichen</label>
                <div class="">
                    <input type="text" name="license_plate" maxlength="10" class="textinput textInput form-control" id="id_license_plate">
                </div>
            </div>


            <div id="patient_1">
            <legend class="border-bottom mb-4">Patient 1</legend>
                <div id="div_id_firstname" class="form-group">
                    <label for="id_firstname" class=" requiredField">Vorname<span class="asteriskField">*</span> </label>
                    <div class="">
                        <input type="text" name="firstname" maxlength="100" class="textinput textInput form-control" required id="id_firstname">
                    </div>
                </div>
                <div id="div_id_lastname" class="form-group">
                    <label for="id_lastname" class=" requiredField">Nachname<span class="asteriskField">*</span></label>
                    <div class="">
                        <input type="text" name="lastname" maxlength="100" class="textinput textInput form-control" required id="id_lastname">
                    </div>
                </div>
                <div id="div_id_birth_date" class="form-group">
                    <label for="id_birth_date" class=" requiredField">Geburtsdatum<span class="asteriskField">*</span></label>
                    <div class="">
                        <input type="text" name="birth_date" class="vDateField admindatewidget form-control" size="10" required id="id_birth_date">
                    </div>
                </div>
                <div id="div_id_zip" class="form-group">
                    <label for="id_zip" class=" requiredField">PLZ<span class="asteriskField">*</span></label>
                    <div class="">
                        <input type="text" name="zip" maxlength="5" class="textinput textInput form-control" required id="id_zip">
                    </div>
                </div>
                <div id="div_id_city" class="form-group">
                    <label for="id_city" class=" requiredField">Ort<span class="asteriskField">*</span></label>
                    <div class="">
                        <input type="text" name="city" maxlength="100" class="textinput textInput form-control" required id="id_city">
                    </div>
                </div>
                <div id="div_id_phone" class="form-group">
                    <label for="id_phone" class=" requiredField">Telefon<span class="asteriskField">*</span></label>
                    <div class="">
                        <input type="text" name="phone" maxlength="100" class="textinput textInput form-control" required id="id_phone">
                    </div>
                </div>
                <div id="div_id_doctor" class="form-group">
                    <label for="id_doctor" class=" requiredField">Hausarzt<span class="asteriskField">*</span></label>
                    <div class="">
                        <input type="text" name="doctor" maxlength="100" class="textinput textInput form-control" required id="id_doctor">
                    </div>
                </div>
                <div id="div_id_insurance" class="form-group">
                    <label for="id_insurance" class=" requiredField">Krankenkasse<span class="asteriskField">*</span></label>
                    <div class="">
                        <input type="text" name="insurance" maxlength="100" class="textinput textInput form-control" required id="id_insurance">
                    </div>
                </div>
                <div class="form-group">
                    <div id="div_id_positive_contact" class="form-check">
                        <input type="checkbox" name="positive_contact" class="checkboxinput form-check-input" id="id_positive_contact">
                        <label for="id_positive_contact" class="form-check-label">Kontakt zu einer mit dem Coronavirus infizierten Person?</label>
                    </div>
                </div>
            </div>


        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Absenden</button>
        </div>
    </form>
</div>
{% endblock content %}

